@charset "UTF-8";
   

* {
    padding: 0;
    margin: 0;
}

body {
    padding: 15px 0px;
    margin: auto;
}

form {
    background: url('img/artstation\ -\ explore.jpeg') no-repeat center center;
    background-size: cover;
    

    padding: 10px 0px;
    margin: 22px auto;
    border: transparent;
    border-radius: 12px 3px;
    max-width: 35%;
    text-align: center;
}

.enter-field > label {
    font-style: normal;
    display: block;
    padding: 10px 0px;
    font-weight: 600;
    font-size: large;
    color: white;
    letter-spacing: 5px;
    text-shadow: 0px 0px whitesmoke;
}

.enter-field > input {
    display: inline-block;
    background-color: rgb(222, 235, 235);
    padding: 2px;
    border-radius: 3px;
}

footer {

    background-color: rgb(46, 5, 46);
    padding: 0px 7px;
    margin: 30px  auto;
    width: 40%;
    text-align: center;
    color: aliceblue; 
}

a {
    color: rgba(127, 255, 212, 0.747);
    text-decoration: none;
}

a:hover {
    color: rgb(169, 245, 219);    
    text-decoration: none;
}

/* @media (min-width:250px) {
    body {
        padding: 15px 0px;
        margin: auto;
    }
}

@media (max-width:1920px) {
    body {
        padding: 15px 0px;
        margin: auto;
    }
} */

@media (min-width:200px) { 
    form {
        background: url('img/artstation\ -\ explore.jpeg') no-repeat center center;
        background-size: cover;
        
    
        padding: 15px 30px;
        margin: 40px auto;
        border: transparent;
        border-radius: 12px 3px;
        max-width: 50%;
        text-align: left;
    }
    

    .enter-field > label {
        font-style: normal;
        padding: 12px 5px;
        margin: auto;
        color: white;
        min-width: 35px;
        text-shadow: 0px 0px whitesmoke;
    }
    
    .enter-field > input {
        display: inline-block;
        background-color: rgb(222, 235, 235);
        padding:10px 0px;
        margin: 4px auto;
        width: 45vw;
        border-radius: 3px;
    }

    footer {
        padding: 10px 15px;
        text-align: center;
    }
}



@media (max-width: 1920px) {
    .enter-field > label {
        font-style: italic;
        display: block;
        padding: 10px 0px;
        font-weight: 600;
        font-size: large;
        color: white;
        letter-spacing: 5px;
        text-shadow: 0px 0px whitesmoke;
    }
    
    .enter-field > input {
        display: inline-block;
        background-color: rgb(222, 235, 235);
        padding: 2px;
        border-radius: 3px;
    }
    
}
