@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:wght@500&family=Poppins&display=swap');


/* direitos autorais do bg do login
    https://www.artstation.com/?sort_by=community&dimension=all
*/

* {
    padding: 0;
    margin: 0;
    font-family: 'Inter Tight', sans-serif;
    font-family: 'Poppins', sans-serif;
}

body {
    padding: 15px 0px;
    margin: 12px;
    display: flex;
    flex-direction: column;
}

form {
    background: url('img/artstation\ -\ explore.jpeg') no-repeat center center;
    background-size: cover;
    

    padding: 10%;
    margin: auto;
    border: transparent;
    border-radius: 12px 3px;
    max-width: 40%;
    text-align: center;
}

.enter-field > label {
    font: var();
    font-style: italic;
    display: flex;
    padding: 10px 0px;
    font-weight: 600;
    font-size: larger;
    color: white;
    letter-spacing: 5px;
    text-shadow: 0px 0px whitesmoke;
}

.enter-field > input {
    display: block;
    background-color: rgb(222, 235, 235);
    padding: 2px;
    border-radius: 3px;
}

footer {
    background-color: rgb(46, 5, 46);
    padding: 0px 7px;
    margin: 2px 0px;
    width: 26vh;
    text-align: left;
    color: aliceblue; 
}

a {
    color: rgba(127, 255, 212, 0.747);
    text-decoration: none;
}

a:hover {
    color: rgb(169, 245, 219);    
    text-decoration: none;
    
}