@media (max-width: 1920px) {

    form {
        background: url('img/artstation\ -\ explore.jpeg') no-repeat center center;
        background-size: cover;
        
        display: block;
        padding: 30px 20px;
        margin: auto;
        border: transparent;
        border-radius: 12px 3px;
        max-width: 100%;
        text-align: center;
    }

    .enter-field > label {
        font-style: normal;
        display: block;
        margin: 12px 50px;
        padding: 10px 0px;
        font-weight: 600;
        font-size: 1.5em;
        color: white;
        letter-spacing: 4px;
        text-shadow: 0px 0px whitesmoke;
    }
    
    .enter-field > input {
        background-color: rgb(222, 235, 235);
        display: block;
        margin: auto;
        padding: 2px 0px;
        width: 50%;
        border-radius: 3px;
    }

    footer {
        background-color: rgb(46, 5, 46);
        padding: 10px;
        margin-top:auto ;
        text-align: center;
        color: aliceblue; 
    }
    
    
}